.me {
    border-radius: 50%;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }

.description{
    margin-top: 5%;
    border-radius: 5%;
    background-color: #2e2d2daf;
    text-align: center;
    color: #ffffff;
}

/*The Magician*/
.The-Magician{
    width: 400px;
}

/*Platformer-Boy*/
.Platformer-Boy{
    width: 400px;
}

* {
    box-sizing: border-box;
  }
  
  .main-portfolio {
    max-width: 1000px;
    margin: auto;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    height: auto;
    width: auto;
    background-color: rgb(236, 211, 211);
    padding: 10px;
    
  }
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .bg-image {
    background-image: url("../Imagenes/PrincipalFondo.PNG");
    border: 10px solid #00aeff;
    position: fixed;
    top: 50%;
    left: 14%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 670px;
    padding: 20px;
  }
 
